:root {
	--grey1: #1a1e22;
	--white1: white;
	--liblue: #0072b1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	background: #/*CDCDCD*/;
	/*background: #F1F1F1;*/
	background: #E5E5E5;
	background: grey;
}

header {
	padding: 15px 20px 15px 25px;
	background-color: var(--grey1);
	font-family: 'Roboto', sans-serif;
	position: -webkit-sticky;
	position: sticky;
	top:0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 9999;
}

header h1 {
	font-weight: bold;
	font-size: 36px;
	margin: 0;
	display: flex;
	align-items: center;
	transition: .2s;
	padding: 3px;
}

header a {
	text-decoration: none;
	color: var(--white1);
	transition: color .2s;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

header nav ul li {
	margin: 10px 15px;
	display: flex;
	align-items: center;
	transition: .2s;
}

header nav ul li a {
	font-size: 2vw;
	display: flex;
	align-items: center;
	padding: 3px;
}

header nav ul li a img {
	height: 2.3vw;
}

header nav ul li:hover {
	background-color: white;
	border-radius: 5px;
	font-weight: bold;
}

header nav ul li a:hover {
	color: var(--grey1);
}

h2 {
	font-size: 36px;
}

.hero {
	background-image: url('../img/hero1.jpg');
	background-size: cover;
	background-position: 50% 40%;
	height: 350px;
	height: 40vh;
	display: flex;
	align-items: flex-end; /*vertical*/
	justify-content: center; /*horizontal*/
}

.subtitle {
	height: 10vh;
/*	padding: 0 0 80px 0;*/
}

.c1 {
	color: var(--liblue);
}

.hero-text {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 7px;	
	font-size: 3vw;
	font-weight: bold;
	color: white;
	padding: 3px;
}

.buffer {
	height: 40px;

}

.offset {
	position: relative;
}

.offset span {
	position: absolute;
	top: -100px;
}


.about-me {
	width: 90%;
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.title {
	width: 20%;
	border-right: 3px solid var(--liblue);
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	text-align: right;
	padding: 15px;

}
.content {
	width: 60%;
	padding: 15px;
}

.content p {
	font-size: 20px;
	line-height: 1.3;

}

.end {
/*	width: 15%;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.photo {
	width: 180px;
	height: 220px;
	background-image: url('../img/dan.PNG');
	background-size: cover;
	background-position: 50% 35%;
	overflow: hidden;
	border-radius: 50%;
}

.work {
	width: 90%;
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.grid {
	width: 80%;
}

.grid-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;

}

.grid-container {
	height: 50vh;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);

}

.grid-item {
	border: 4px solid var(--liblue);
	margin: 5px;
}

.grid-item.large {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
	background-image: url(../img/hot_rod.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
}

.grid-item.two {
	background-image: url(../img/run_bud.png);
	background-size: cover;
	background-position: center;
	background-color: white;
}

.grid-item.three {
	background-image: url(../img/mtb.jpg);
	background-size: cover;
	background-position: 50% 10%;
	background-color: white;
}

.grid-item.four {
	background-image: url(../img/calculator.jpg);
	background-size: cover;
	background-position: 50% 10%;
	background-color: white;
}

.grid-item.five {
	background-image: url(../img/pizza.jpg);
	background-size: cover;
	background-position: 50% 10%;
	background-color: white;
}

/*.grid-item.large a {
	size: 100%;
}*/

div.feature {
	position: relative;
}

div.feature a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	z-index: 10;
	background-color: #FFF;
	opacity: 0;
}

.project-label {
	background-color: var(--liblue);
	display: inline-block;
	color: white;
	padding: 5px 9px 9px 5px;
	text-align: center;




}


.contact {
	width: 90%;
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

















































