:root {
	--grey1: #1a1e22;
	--white1: white;
	--liblue: #0072b1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	height: 2000px;
}

header {
	padding: 15px 20px 15px 25px;
	background-color: var(--grey1);
	font-family: "Roboto", sans-serif;
	position: -webkit-sticky;
	position: sticky;
	top:0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

header h1 {
	font-weight: bold;
	font-size: 36px;
	color: var(--white1);
	margin: 0;
	display: flex;
	align-items: center;
	transition: .2s;
	padding: 3px;
}

header a {
	text-decoration: none;
	color: var(--white1);
	transition: color .2s;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

header nav ul li {
	margin: 10px 15px;
	display: flex;
	align-items: center;
	transition: .2s;
}

header nav ul li a {
	font-size: 2vw;
	display: flex;
	align-items: center;
	padding: 3px;
}

header nav ul li a img {
	height: 2.3vw;
}

header nav ul li:hover {
	background-color: white;
	border-radius: 5px;
	font-weight: bold;
}


.hero {
	background-image: url('../img/hero1.jpg');
	background-size: cover;
	background-position: 50% 40%;
	height: 350px;
	display: flex;
	align-items: flex-end; /*vertical*/
	justify-content: center; /*horizontal*/
}

.subtitle {
	font-size: 3vw;
	font-weight: bold;
	color: white;
/*	display: inline;*/	
	padding: 0 0 10% 0;
}

.c1 {
	color: var(--liblue);
}




















































